## Homework 20190921

### 安裝 Jieba

In [1]:
! pip install jieba

Collecting jieba
  Downloading https://files.pythonhosted.org/packages/71/46/c6f9179f73b818d5827202ad1c4a94e371a29473b7f043b736b4dab6b8cd/jieba-0.39.zip (7.3MB)
Building wheels for collected packages: jieba
  Building wheel for jieba (setup.py): started
  Building wheel for jieba (setup.py): finished with status 'done'
  Stored in directory: C:\Users\User\AppData\Local\pip\Cache\wheels\c9\c7\63\a9ec0322ccc7c365fd51e475942a82395807186e94f0522243
Successfully built jieba
Installing collected packages: jieba
Successfully installed jieba-0.39

### 如果碰到 SSL Verify Error

In [ ]:
! pip install --trusted-host pypi.org --trusted-host files.pythonhosted.org --trusted-host pypi.python.org jieba

### Jieba 切詞

In [3]:
import jieba

seg_list = jieba.cut("媽祖昨天託夢請我選總統")
print("/ ".join(seg_list))

媽祖/ 昨天/ 託/ 夢/ 請/ 我/ 選總統

In [4]:
jieba.load_userdict('userdict.txt')

In [5]:
import jieba
seg_list = jieba.cut("媽祖昨天託夢請我選總統")
print("/ ".join(seg_list))

媽祖/ 昨天/ 託夢/ 請/ 我/ 選總統

### 請用 jieba 將郭台銘演說文切詞

In [28]:
speech = '''
人生充滿著各種大大小小的決定。有些決定很容易，有些決定很困難。

我一直在思考：什麼是真正的承擔？一肩挑起是承擔？又或者，放下才是真正的承擔？

我參選總統的初衷，是希望能夠帶領台灣社會齊心拚經濟，但投身選戰以來，我看到的卻是一些政治人物為了私利，挑起階級、仇恨、對立等民粹，那麼，這些會因為我義無反顧的挑起責任而終結嗎？抑或是需要我放下才可能拉回走偏的旋律呢？

不是因為任何人的勸說與影響，而是因為我再三思考之後，希望讓社會在關注國家領導人的選擇時，能夠回歸理性思考與政策層面的討論，於是，我決定不參與2020連署競選總統。

也因此，我要向期盼我出來參選的好朋友們深深一鞠躬，表達我最誠摯的歉意：「對不起，我讓你們失望了！」我知道這個決定會讓很多支持者難以接受，雖然參與政治到現在才短短的時間，但大家的熱情我都感受到了，尤其，當我聽到一些支持者即使遭到言語霸凌也仍然堅定支持我時，更是讓我感到心疼與感謝。因此，我除了要對支持者表達最誠摯的歉意之外，也要對大家說聲「謝謝你們」，感謝大家一直以來對我的支持與愛護。

這幾個月來，我有機會能夠跟各行各業的朋友接觸、談心，讓我更清楚知道能夠為眾人服務是一件快樂又有意義的事情，因此，雖然不參與總統選舉，但並不表示我放棄參與政治事務。我會持續積極推動我所提出的政策，也期盼能夠有更多有理念的朋友願意一起為台灣繼續努力，讓台灣有著和平、安定、經濟與未來。

而這陣子以來，無論是對我的抨擊，或是對我的肯定，我也都會或反省、或珍惜的，將這些化為我人生路上更豐富的養分。

我依然是永遠的中華民國派。當中華民國需要郭台銘的時候，郭台銘永遠都在。
'''

In [9]:
a = 'this is a book'
words = a.split()
words

['this', 'is', 'a', 'book']

In [41]:
ary = []
with open('stopwords.txt', 'r', encoding = 'utf-8') as f:
    for w in f.readlines():
        ary.append(w.strip())
#ary

In [44]:
#with open('stopwords.txt', 'r', encoding = 'utf-8') as f:
#    stopwords = f.read()
#stopwords
stopwords = [w.strip() for w in open('stopwords.txt', 'r', encoding = 'utf-8')]

In [45]:
words = jieba.cut(speech)
#for w in words:
#    print(w)

#list(words)

In [46]:
dic = {}
for w in list(words):
    if len(w) >=2 and w not in stopwords:
        if w not in dic:
            dic[w] = 1
        else:
            dic[w] = dic[w] + 1

In [47]:
swd = sorted(dic.items(), key = lambda e: e[1], reverse=True)

In [48]:
for k,v in swd[0:10]:
    print(k,v)

決定 5
能夠 5
思考 3
承擔 3
總統 3
政治 3
朋友 3
支持者 3
人生 2
一直 2

## CKIPTagger
- https://github.com/ckiplab/ckiptagger

## Homework 20190922

回家作業

試抓取自由時報的即時新聞列表, 並將標題, 連結與時間整理出來
https://news.ltn.com.tw/list/breakingnews

In [49]:
import requests
res =  requests.get('https://news.ltn.com.tw/list/breakingnews')
res

In [52]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'lxml')
#soup

### CSS Selector
- https://www.w3schools.com/cssref/css_selectors.asp

In [62]:
#try - except
for news in soup.select('ul.list li'):
    try:
        print(news.select_one('p').text)
    except:
        pass
    print('==========================================')

（贈票）久石讓操刀配樂《海獸之子》身歷其境奇幻海洋國度
==========================================
NBA》美媒預測湖人將大手筆續約 A.戴維斯下季動向語帶保留
==========================================
官大一定學問大？ 音樂人一席話突破盲點
==========================================
籌贍養費自斷前程 消防分隊長詐2萬多公款判1年10月
==========================================
==========================================
是否再替韓國瑜站台？ 馬英九今親自回應
==========================================
12強》不選強打捕手森友哉 西武3將有望進日本隊
==========================================
Toyota 集團全新小 SUV 車名遭日媒曝光，連試駕感想都出爐！
==========================================
沿著基隆河路跑 馬英九與跑者漫步黃金山城



==========================================
MLB》洋基派克斯頓昨僅投一局就傷退 檢查結果出爐



==========================================
MLB》光芒打線熄火吞敗 恐失外卡主場優勢
==========================================
吳建恆奪廣播金鐘最大獎 曹西平爆不為人知秘辛
==========================================
太麻里三和漁場有觀光潛力 公有地將整合
==========================================
MLB》陳偉殷受隊友失誤拖累 遭哈波敲三分彈 （影音）



==========================================
高市文化局長推「事務官」壯聲勢 陳瓊華：公務機關的白色恐怖
==========================================
自稱被跟蹤竟朝捷運車廂噴防狼噴霧 法官罰他2千元
==========================================
3 年前老 iPhone 屹立不搖！手機市佔調查：新一代旗艦全落榜
==========================================
廢除選罷法一票30元 黃創夏爆有人恐不選了
==========================================

In [63]:
# None, False, [], {}, ()
if None:
    print('yes')

In [65]:
if []:
    print('yes')

In [64]:
if [1,2,3]:
    print('yes')

yes

In [77]:
#soup.select('ul.list.imm')
for news in soup.select('ul.list li'):
    if news.select_one('p'):
        #print(news)
        title = news.select_one('p').text.strip()
        link = 'https:' +news.select_one('a').get('href')
        dt = news.select_one('span').text
        print(title, link, dt)
        print('==========================================')

（贈票）久石讓操刀配樂《海獸之子》身歷其境奇幻海洋國度 https://ent.ltn.com.tw/news/breakingnews/2929563 10:00
==========================================
NBA》美媒預測湖人將大手筆續約 A.戴維斯下季動向語帶保留 https://sports.ltn.com.tw/news/breakingnews/2930369 09:58
==========================================
官大一定學問大？ 音樂人一席話突破盲點 https://ent.ltn.com.tw/news/breakingnews/2930400 09:48
==========================================
籌贍養費自斷前程 消防分隊長詐2萬多公款判1年10月 https://news.ltn.com.tw/news/society/breakingnews/2930391 09:39
==========================================
是否再替韓國瑜站台？ 馬英九今親自回應 https://news.ltn.com.tw/news/politics/breakingnews/2930385 09:37
==========================================
12強》不選強打捕手森友哉 西武3將有望進日本隊 https://sports.ltn.com.tw/news/breakingnews/2930361 09:36
==========================================
Toyota 集團全新小 SUV 車名遭日媒曝光，連試駕感想都出爐！ https:https://auto.ltn.com.tw/news/13662 09:35
==========================================
沿著基隆河路跑 馬英九與跑者漫步黃金山城 https://news.ltn.com.tw/news/life/breakingnews/2930386 09:34
==========================================
MLB》洋基派克斯頓昨僅投一局就傷退 檢查結果出爐 https://sports.ltn.com.tw/news/breakingnews/2930339 09:32
==========================================
MLB》光芒打線熄火吞敗 恐失外卡主場優勢 https://sports.ltn.com.tw/news/breakingnews/2930341 09:31
==========================================
吳建恆奪廣播金鐘最大獎 曹西平爆不為人知秘辛 https://ent.ltn.com.tw/news/breakingnews/2930379 09:22
==========================================
太麻里三和漁場有觀光潛力 公有地將整合 https://news.ltn.com.tw/news/life/breakingnews/2930370 09:20
==========================================
MLB》陳偉殷受隊友失誤拖累 遭哈波敲三分彈 （影音） https://sports.ltn.com.tw/news/breakingnews/2930345 09:20
==========================================
高市文化局長推「事務官」壯聲勢 陳瓊華：公務機關的白色恐怖 https://news.ltn.com.tw/news/politics/breakingnews/2930373 09:11
==========================================
自稱被跟蹤竟朝捷運車廂噴防狼噴霧 法官罰他2千元 https://news.ltn.com.tw/news/society/breakingnews/2930365 09:06
==========================================
3 年前老 iPhone 屹立不搖！手機市佔調查：新一代旗艦全落榜 https://3c.ltn.com.tw/news/38125 09:04
==========================================
廢除選罷法一票30元 黃創夏爆有人恐不選了 https://ent.ltn.com.tw/news/breakingnews/2930366 08:56
==========================================

## 圖片抓取

In [88]:
for news in soup.select('ul.list li'):
    if news.select_one('p'):
        link = news.select_one('img').get('src')
        #print(link)
        res2 = requests.get(link)
        fname = link.split('/')[-1]
        #print(fname)
        with open(fname, 'wb') as f:
            f.write(res2.content)

In [86]:
res2 = requests.get('https://img.ltn.com.tw/Upload/ent/page/800S/2019/09/28/phpZu8owC.jpg')
with open('1.jpg', 'wb') as f:
    f.write(res2.content)

## 591 租屋網

In [109]:
import requests
from bs4 import BeautifulSoup
rs = requests.session()
res = rs.get('https://rent.591.com.tw/?kind=1&region=1&section=5')
soup = BeautifulSoup(res.text, 'lxml')
token = soup.select_one('meta[name="csrf-token"]').get('content')
print(token)

qbTXYVx6pYCKABJlBIthy2DjVgSboKSvupjZXYGX

In [110]:
headers = {
'X-CSRF-TOKEN': token,
'X-Requested-With': 'XMLHttpRequest'    
}
res2 = rs.get('https://rent.591.com.tw/home/search/rsList?is_new_list=1&type=1&kind=1&searchtype=1&region=1&section=5&firstRow=30&totalRows=843', headers = headers)

In [112]:
#res2.json()

## 農民曆爬取

In [96]:
import requests
res = requests.get('https://fate.windada.com/cgi-bin/calendar')

In [106]:
res.encoding = 'utf-8'

import re
m = re.search('DayInfoA\[29\]=(.*)', res.text)
soup = BeautifulSoup(m.group(1).strip(), 'lxml')
for ele in soup.select('p'):
    print(ele.text)

'
【陽曆】2019年09月29日　　【沖豬37,97歲煞東】
【農曆】2019年09月01日　　【劫煞︰鼠龍猴】
【干支】己亥年癸酉月己巳日 【胎神】占門床,外正南
【九宮】八白年四綠月七赤日 【吉時】丑辰午未戌亥
【方位】喜神東北　財神正北　福神正南 【週堂】婦
【彭祖百忌】己不破券,二主並亡. 巳不遠行,財物伏藏。
【12建星】成白虎  【28星宿】 房日兔  【金符】煞貢
【吉神】三合 月財 普護 天喜 歲德合 十全
【凶神】神號 刀砧 五鬼 歲破 橫天朱雀 臨日 伏斷 伏罪 土禁
【宜】修造 動土 移徙 開市 破土 交易 開倉 立券 栽種 納畜 入學 納采 入宅 造倉 起灶 祈福 求醫 祭祀
【忌】訴訟 伐木 針灸 起造 架馬 裁衣 納財 經絡
 【成巳】查看董公詳批

## Numpy

In [113]:
a = [1,3,5,7,9]
b = [2,4,6,8,10]

In [114]:
a * b

TypeError: can't multiply sequence by non-int of type 'list'

In [115]:
len(a)

5

In [117]:
for i in range(len(a)):
    #print(i)
    print(a[i] * b[i])

2
12
30
56
90

In [118]:
ary = []
for i in range(len(a)):
    ary.append(a[i] * b[i])

In [119]:
[a[i] * b[i] for i in range(len(a))]

[2, 12, 30, 56, 90]

In [120]:
for rec in zip(a,b):
    print(rec)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
(9, 10)

In [121]:
for rec in zip(a,b):
    print(rec[0] * rec[1])

2
12
30
56
90

In [122]:
import numpy as np
na = np.array(a)

In [123]:
a

[1, 3, 5, 7, 9]

In [124]:
type(a)

list

In [128]:
a.append('s')

In [129]:
a

[1, 3, 5, 7, 9, 's']

In [125]:
na

array([1, 3, 5, 7, 9])

In [127]:
type(na)

numpy.ndarray

In [130]:
na.append('s')

AttributeError: 'numpy.ndarray' object has no attribute 'append'

In [131]:
import numpy as np
na = np.array([1, 3, 5, 7, 9, 's'])

In [132]:
na

array(['1', '3', '5', '7', '9', 's'], dtype='<U11')

In [133]:
a = [1,3,5,7,9]
b = [2,4,6,8,10]

In [134]:
na = np.array(a)
nb = np.array(b)

In [135]:
na * nb

array([ 2, 12, 30, 56, 90])

In [137]:
import numpy as np
my_list = [1,2,3]
na = np.array(my_list)

In [138]:
type(na)

numpy.ndarray

In [139]:
print(dir(na))

['T', '__abs__', '__add__', '__and__', '__array__', '__array_finalize__', '__array_function__', '__array_interface__', '__array_prepare__', '__array_priority__', '__array_struct__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__complex__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__ilshift__', '__imatmul__', '__imod__', '__imul__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__irshift__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lshift__', '__lt__', '__matmul__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__xor__', 'all', 'any', 'argmax', 'argmin', 'argpartition', 'argsort', 'astype', 'base', 'byteswap', 'choose', 'clip', 'compress', 'conj', 'conjugate', 'copy', 'ctypes', 'cumprod', 'cumsum', 'data', 'diagonal', 'dot', 'dtype', 'dump', 'dumps', 'fill', 'flags', 'flat', 'flatten', 'getfield', 'imag', 'item', 'itemset', 'itemsize', 'max', 'mean', 'min', 'nbytes', 'ndim', 'newbyteorder', 'nonzero', 'partition', 'prod', 'ptp', 'put', 'ravel', 'real', 'repeat', 'reshape', 'resize', 'round', 'searchsorted', 'setfield', 'setflags', 'shape', 'size', 'sort', 'squeeze', 'std', 'strides', 'sum', 'swapaxes', 'take', 'tobytes', 'tofile', 'tolist', 'tostring', 'trace', 'transpose', 'var', 'view']

In [140]:
na.shape

(3,)

In [141]:
my_matrix = [[1,2,3],[4,5,6],[7,8,9]]
nm = np.array(my_matrix)

In [142]:
nm

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [143]:
nm.shape

(3, 3)

In [145]:
#產生數列
np.arange(0,10)
np.arange(0,11,2)

array([ 0,  2,  4,  6,  8, 10])

In [149]:
#產生0與1
np.zeros(3)
np.zeros((5,5))
np.ones(3)
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [152]:
#根據給定範圍產生數列
np.linspace(0,10,3)
#np.linspace(0,10,50)

array([ 0.,  5., 10.])

In [153]:
np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [160]:
#產生隨機數列
np.random.rand(2)
np.random.rand(5,5)
np.random.randn(2)
np.random.randn(5,5)
np.random.randint(1,100)
np.random.randint(1,100,10)
np.random.randint(1,42,6)

array([40, 15,  6, 25, 21, 32])

In [161]:
arr = np.arange(25)

In [162]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [163]:
arr.shape

(25,)

In [165]:
a = arr.reshape((1,25))

In [166]:
a.shape

(1, 25)

In [169]:
a = arr.reshape((25,1))
a.shape

(25, 1)

In [170]:
arr.reshape((5,5))

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [173]:
arr = np.array([3,5,1,2,7,6,2,3,9])

In [174]:
arr.min()

1

In [178]:
arr.argmin()

2

In [175]:
arr.max()

9

In [177]:
arr.argmax()

8

In [176]:
arr.sum()

38

In [179]:
arr.dtype

dtype('int32')

In [181]:
arr = np.arange(0,11)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [182]:
arr[8]

8

In [183]:
arr[1:5]

array([1, 2, 3, 4])

In [184]:
arr = np.arange(0,11)
slice_of_arr = arr[0:6]

In [185]:
slice_of_arr

array([0, 1, 2, 3, 4, 5])

In [186]:
slice_of_arr[:]=99

In [187]:
slice_of_arr

array([99, 99, 99, 99, 99, 99])

In [188]:
arr

array([99, 99, 99, 99, 99, 99,  6,  7,  8,  9, 10])

In [193]:
arr_2d = np.array(([5,10,15],[20,25,30],[35,40,45]))
arr_2d[1]
arr_2d[1][0]
arr_2d[1,0]
arr_2d[2]
arr_2d[2,:]

array([35, 40, 45])

In [195]:
arr = np.arange(1,11)
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [196]:
arr > 4

array([False, False, False, False,  True,  True,  True,  True,  True,
        True])

In [197]:
bool_arr = arr>4
bool_arr

array([False, False, False, False,  True,  True,  True,  True,  True,
        True])

In [198]:
arr[bool_arr]

array([ 5,  6,  7,  8,  9, 10])

In [199]:
arr = np.arange(0,10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [200]:
arr + arr

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [201]:
arr * arr

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64, 81])

In [202]:
arr - arr

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [203]:
arr/arr # 0/0

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

array([nan,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

In [204]:
1/arr # 1/ 0

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

array([       inf, 1.        , 0.5       , 0.33333333, 0.25      ,
       0.2       , 0.16666667, 0.14285714, 0.125     , 0.11111111])

In [205]:
arr ** 3

array([  0,   1,   8,  27,  64, 125, 216, 343, 512, 729], dtype=int32)

In [210]:
np.sqrt(arr)
np.exp(arr)
np.max(arr)
np.sin(arr)
np.log(arr)

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in log
  """

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436,
       1.60943791, 1.79175947, 1.94591015, 2.07944154, 2.19722458])

In [214]:
input_ary = np.array([1,2,3,4])
w1 = np.random.randn(4,5)
np.dot(input_ary, w1)

array([ 4.8015598 ,  9.97784948,  5.80093252,  1.75971703, -9.38449076])

In [215]:
w2 = np.random.randn(5,3)

In [216]:
np.dot(np.dot(input_ary, w1), w2)

array([-11.73293221,  14.04109372,   8.88369461])